.Cinema{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: -10;
    display: grid;
    grid-template-columns: 50vw 50vw;
    transition: 3s ease-out;
    
}

.Cinema div{
    width: 100%;
    height: 100%;
    transform: translateX(0);
    background-color: black;    
    transition: 1s ease-in-out;
}
.Cinema div:nth-child(1){
    transform: translateX(-51vw);
    border-radius: 50%;
}
body[data-mode="no-load"] .Cinema div:nth-child(1){
    transform: translateX(0);
    border-radius: 0%;
}
.Cinema div:nth-child(2){
    transform: translateX(51vw);
    border-radius: 50%;
    
}
body[data-mode="no-load"] .Cinema div:nth-child(2){
    transform: translateX(0);
    border-radius: 0%;
    
}
body[data-mode="no-load"] .Cinema{
    z-index: 99;
}