.PowerMenu{
    width: 15vh;
    height: 7vh;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1vh;
    align-items: center;
    justify-items: center;
    border-radius: 50vh;
    bottom: calc(2vh - 2px);
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.PowerMenu button{
    background-color: transparent;
    outline: none;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, .2);
    transition: 1s ease-in-out;
}
.PowerMenu button svg{
    width: 80%;
}
.PowerMenu button:hover{
    background-color: #fff;
}

.PowerMenu button:nth-child(1):hover{
    fill: rgb(181, 6, 15);
}
.PowerMenu button:nth-child(2):hover{
    fill: rgb(172, 172, 3);
    transform: rotateZ(-360deg);
}