body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      background-color: #0B1418;
      cursor: all-scroll;
}

body[data-mode="user"] .login{
    transform: translateX(100%);
}
body[data-mode="user"] .login_user{
    transform: translateY(0);
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    transition: 1s ease-in-out;

}

/* fondo */
::-webkit-scrollbar-track {
    background: transparent;
    transition: 1s ease-in-out;

}

/* barra */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30vh;
    transition: 1s ease-in-out;

    
}

/* hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.55);
    transition: 1s ease-in-out;

}

section{
    width: 80vw;
    height: 80vh;
    border-radius: 5vh;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100%;
    position: relative;
    overflow: hidden;

}
.users{
    z-index: 10;
    border-right: 1px solid rgba(255, 255, 255, .2);
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 10vh;
    position: relative;
    align-items: center;
    overflow-y: auto;
}


.user{
    border: none;
    display: grid;
    grid-template-columns: 10vh 1fr;
    grid-template-rows: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-top: 1px solid rgba(255, 255, 255, .2);
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    color: #777;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.user:hover{
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: #aaa;
}
.user>.avatar{
    grid-column: 1;
    grid-row: 1;
    height: calc(100% - 2vh);
    width: calc(100% - 2vh);
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1vh;
    border-radius: 50%;
}

.user>h3{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 3vh;
    font-weight: 900;
}

.login{
    border-left: 1px solid rgba(255, 255, 255, .2);
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    transform: translateX(0);
    transition: transform 2s;
    padding: 20vh 5vw;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10vh 10vh 10vh;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    row-gap: 1vh;
}

.login_user{
    border-left: 1px solid rgba(255, 255, 255, .2);
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    transform: translateY(-100%);
    transition: transform 2s;
    padding: 15vh 5vw;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15vh 10vh 10vh 5vh;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    row-gap: 1vh;
    z-index: 10;
}

.login_user .avatar{
    grid-column: 1;
    grid-row: 1;
    height: 15vh;
    width: 15vh;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;   
    transition: 1s ease-in-out;
}

.input-box{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 6vh;
    position: relative;
    border: 2px solid rgba(255, 255, 255,.2);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 8vh;
    border-radius: 50vh;
    padding: 0;

}
.input-box input{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    padding: 0;
    padding-left: 1vw;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box button{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 6vh;
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    fill: #fff;
    padding: 0;
    margin: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    cursor: pointer;
}
.input-box button svg{
    height: 70%;
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.input-box button svg.hidden{
    opacity: 100%;
}

.input-box button svg.show{
    opacity: 0;
}

.input-box input[type="password"] ~ button svg.hidden{
    opacity: 0;
}

.input-box input[type="password"] ~  button svg.show{
    opacity: 100%;
}


.LoginBtn{
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: 6vh;
    position: relative;
    border: 2px solid rgba(255, 255, 255,.2);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 50vh;
    border: none;
    outline: none;
    box-shadow:  0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 900;
    transition: 2s ease-in-out;
}

.LoginBtn:hover{
    background: transparent;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border: 2px solid rgba(255, 255, 255,.2);
}

.login_user .notList{
    grid-column: 1;
    grid-row: 4;
    width: 100%;
    height: 2vh;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff77;
    transition: 2s ease-in-out;

}
.login_user .notList:hover{
    text-decoration: underline;
    color: #fff;
}

.input-box.user_input{
    grid-row: 1;
    grid-template-columns: 1fr;
}