.status {
    width: 70%;
    height: 100%;
    background-color: #1D242C;
    grid-column: 1;
    grid-row: 4;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 4fr;
    justify-items: center;
    align-items: center;
    border-radius: calc(10 * var(--dock_vw));
    position: relative;
    box-sizing: border-box;
}


.status .Battery {
    width: 100%;
    height: 100%;
    border: none;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative
}

.status .Battery svg {
    width: 80%;
    position: relative;
    transform: rotate(-85deg) !important;
}

.status .Battery svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round !important;
}

.status .Battery svg.out {
    stroke: #484F5A;
}

.status .Battery #BatteryBar {
    --Battery: 100;
    stroke: #9CD9A0;
    stroke-dasharray: 120;
    stroke-dashoffset: calc(120 - (120 * var(--Battery)) / 100);
}


.status #Clock {
    width: 100%;
    height: 100%;
    border: none;
    grid-column: 1;
    grid-row: 2;
    border-radius: calc(10 * var(--dock_vw));
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: calc(10 * var(--dock_vw));
}

.status #Clock span {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #fff;
    font-size: calc(45 * var(--dock_vw));
}
