.Dock {
    z-index: 9;
    grid-column: 1;
    grid-row: 1;
    background-color: #0B1418;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: calc(80 * var(--dock_vw)) calc(350 * var(--dock_vw)) 1fr calc(190 * var(--dock_vw)) calc(80 * var(--dock_vw)) calc(80 * var(--dock_vw)) calc(80 * var(--dock_vw))  calc(80 * var(--dock_vw)) calc(10 * var(--dock_vw));
    overflow: hidden;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;

}

body[data-panel^="Open-"] .Dock {
    border-bottom-right-radius: 9vw;
    border-top-right-radius: 9vw;
}

.Dock>button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    padding: 0;
    margin: 0;
    position: relative;
    padding-block: 0;
    padding-inline: 0;

}
