body {
    
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    display:grid;
    position: relative;
    grid-template-rows: 1fr;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height:100vh;
}


.Dock {
    z-index: 9;
    grid-column: 1;
    grid-row: 1;
    background-color: #0B1418;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    /* grid-template-rows: 80vw 350vw 350vw 1fr 190vw 80vw 80vw 80vw 10vw; */
    grid-template-rows: calc(80 * var(--dock_vw)) calc(350 * var(--dock_vw)) calc(350 * var(--dock_vw)) 1fr calc(190 * var(--dock_vw)) calc(80 * var(--dock_vw)) calc(80 * var(--dock_vw)) calc(80 * var(--dock_vw)) calc(10 * var(--dock_vw));
    overflow: hidden;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;

}

body[data-panel^="Open-"] .Dock {
    border-bottom-right-radius: 9vw;
    border-top-right-radius: 9vw;
}


.Dock>button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    padding: 0;
    margin: 0;
    position: relative;
    padding-block: 0;
    padding-inline: 0;

}

#Home {
    grid-row: 1;
}

#Home>img {
    height: 80%;
}

#workspaces {
    width: 65%;
    height: 100%;
    background-color: #1D242C;
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    margin: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    justify-items: center;
    align-items: center;
    border-radius: calc(10 * var(--dock_vw));
    position: relative;
    box-sizing: border-box;
}

#workspaces button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#workspaces button>svg {
    height: 60%;
}

#workspaces button>svg.Dot {
    fill: #484F5A;

}

.status {
    width: 65%;
    height: 100%;
    background-color: #1D242C;
    grid-column: 1;
    grid-row: 5;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 4fr;
    justify-items: center;
    align-items: center;
    border-radius: calc(10 * var(--dock_vw));
    position: relative;
    box-sizing: border-box;
}


.status .Battery {
    width: 100%;
    height: 100%;
    border: none;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative
}

.status .Battery svg {
    width: 80%;
    position: relative;
    transform: rotate(-85deg) !important;
}

.status .Battery svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round !important;
}

.status .Battery svg.out {
    stroke: #484F5A;
}

.status .Battery #BatteryBar {
    --Battery: 100;
    stroke: #9CD9A0;
    stroke-dasharray: 120;
    stroke-dashoffset: calc(120 - (120 * var(--Battery)) / 100);
}


.status #Clock {
    width: 100%;
    height: 100%;
    border: none;
    grid-column: 1;
    grid-row: 2;
    border-radius: calc(10 * var(--dock_vw));
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: calc(10 * var(--dock_vw));
}

.status #Clock span {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #fff;
    font-size: calc(45 * var(--dock_vw));
}

#Layout {
    grid-row: 8;
    fill: #fff;
}

#Layout>svg {
    width: 40%;
    background-color: #1d242c;
    padding: calc(14 * var(--dock_vw));
    border-radius: calc(10 * var(--dock_vw));
}

#Network {
    grid-row: 6;
    fill: #fff;
    --front: #fff;
    --back: #888;
}

#Network>svg {
    width: 50%;
    background-color: #0B1418;
    padding: calc(5 * var(--dock_vw));
    border-radius: calc(10 * var(--dock_vw));
}

#Notyfi{
    grid-row: 7;
    fill: #fff;
}
#Notyfi>svg{
    width: 67%;
    background-color: #1d242c;
    border-radius: calc(10 * var(--dock_vw));

}


.Dock #Notify_bubble{
    width: calc(30 * var(--dock_vw));
    height: calc(30 * var(--dock_vw));
    position: absolute;
    background-color: #8f0000;
    border-radius: 50vh;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: calc(10 * var(--dock_vw));
    font-weight: 900;
    color: #fff;
    border: 1px solid transparent;
    padding: calc(3 * var(--dock_vw));
    font-size: calc(12 * var(--dock_vw));
    box-sizing: border-box;
}