body[data-panel="Open-Notify"] #Panel_Notify {
    display: grid;
}

#Panel_Notify {
    grid-template-columns: 100%;
    grid-template-rows: 4vh 95vh;
    row-gap: 1vh;
    overflow: hidden;
    position: relative;
    padding-right: 0 !important;
}


#Panel_Notify>.header {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    grid-template-columns: 1fr 4vh;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    column-gap: calc(3 * var(--panel_vw));
    color: #fff;
    padding-right: calc(5 * var(--panel_vw));
}

#Panel_Notify>.header button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10vh;
    fill: #fff;
    background-color: #1f333e;
    user-select: none;
}

#Panel_Notify>.header button svg {
    width: 80%;
}

#Panel_Notify>.header button:hover {
    background-color: #0B1418;
}

#Panel_Notify>.header span {
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: calc(7 * var(--panel_vw));
}

#Panel_Notify #Notify_Content {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-auto-rows: 10vh;
    row-gap: calc(3 * var(--panel_vw));
    overflow-y: auto;
    padding-right: calc(5 * var(--panel_vw));

}


#Notify_Content .Notify {
    background-color: #1f333e;
    border-radius: calc(3 * var(--panel_vw));
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-rows: 3vh 6vh;
    row-gap: 1vh;
    overflow: hidden;

}

#Notify_Content .Notify .header {
    /* background-color: aqua; */
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: 3vh 1fr calc(15 * var(--panel_vw));
    grid-template-rows: 100%;
    column-gap: calc(2 * var(--panel_vw));
}

#Notify_Content .Notify .header button{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
}
#Notify_Content .Notify .header button svg{
    width: 55%;
}

#Notify_Content .Notify .header button:hover{
    fill: #999;
}

#Notify_Content .Notify .header span{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Notify_Content .Notify .header span.App{
    font-size: calc(6 * var(--panel_vw));
}
#Notify_Content .Notify .header span.time{
    font-size: calc(5 * var(--panel_vw));
    font-weight: 900;
}

#Notify_Content .Notify .content{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: 1fr 6vh;
    grid-template-rows: 5fr 4fr;
    grid-gap: calc(2 * var(--panel_vw));
    padding-bottom: calc(3 * var(--panel_vw));
}

#Notify_Content .Notify .content div{
    grid-column: 2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(3 * var(--panel_vw));
    padding-bottom: 0;
}

#Notify_Content .Notify .content div button{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(3 * var(--panel_vw));
    background-color: #0B1418;
    border: none;
    outline: none;
}
#Notify_Content .Notify .content span{
    width: 100%;
    height: 100%;
    grid-column: 1;
    font-weight: 600;
    color: #999;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
    line-height: 2vh;
    padding-left: calc(3 * var(--panel_vw));
    vertical-align: middle;
    font-size: calc(5 * var(--panel_vw));
}
#Notify_Content .Notify .content span.title{
    grid-row: 1;
    line-height: 3vh;
    font-size: calc(6 * var(--panel_vw));

}

